<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="buttons">
      <div class="style-button">
        <h2 class="sub-heading">STYLE:</h2>
        <a href="javascript:void(0);">
          <span id="linear" class="btn btn-outline-primary btn-rounded waves-effect">Linear</span>
        </a>
        <a href="javascript:void(0);">
          <span id="radial" class="btn btn-outline-default btn-rounded waves-effect">Radial</span>
        </a>
      </div>
      <div class="direction-button">
        <h2 class="sub-heading">DIRECTION:</h2>
        <a href="javascript:void(0);">
        <a href="javascript:void(0);">
          <span id="btn" class="btn btn-outline-success btn-rounded waves-effect direction" data-value="center">Center</span>
        </a>
          <span class="btn btn-outline-primary btn-rounded waves-effect direction"  data-value="top">Top</span>
        </a>
        <a href="javascript:void(0);">
          <span class="btn btn-outline-default btn-rounded waves-effect direction" data-value="top right">Top right</span>
        </a>
        <a href="javascript:void(0);">
          <span  class="btn btn-outline-secondary btn-rounded waves-effect direction" data-value="right">Right</span>
        </a>
        <a href="javascript:void(0);">
          <span id="bottomright" class="btn btn-outline-success btn-rounded waves-effect direction" data-value="bottom right">Bottom right</span>
        </a>
        <a href="javascript:void(0);">
          <span id="bottom" class="btn btn-outline-warning btn-rounded waves-effect direction" data-value=bottom>Bottom</span>
        </a>
        <a href="javascript:void(0);">
          <span id="bottomleft" class="btn btn-outline-info btn-rounded waves-effect direction" data-value="bottom left">Bottom left</span>
        </a>
        <a href="javascript:void(0);">
          <span id="left" class="btn btn-outline-default btn-rounded waves-effect direction" data-value="left">Left</span>
        </a>
        <a href="javascript:void(0);">
          <span id="topleft" class="btn btn-outline-danger btn-rounded waves-effect direction" data-value="top left">Top left</span>
        </a>
      </div>
      <div class="color-button">
        <h2 class="sub-heading">COLORS:</h2>
        <div id="cpickerTop" class="input-group colorpicker-component">
         <span class="input-group-addon btn btn-outline-danger btn-rounded waves-effect"><i></i></span>
         <input id="cpickerTopHEX" type="text" value="#00AABB" class="colorpicker-component btn btn-outline-default btn-rounded waves-effect" />
         <input id="cpickerTopRGB" type="text" class="btn btn-outline-default btn-rounded waves-effect" /> 
        </div>
        <br>
        <div id="cpickerBottom" class="input-group colorpicker-component">
         <span class="input-group-addon btn btn-outline-danger btn-rounded waves-effect"><i></i></span>
         <input id="cpickerBottomHEX" type="text" value="#00AABB" class="btn btn-outline-default btn-rounded waves-effect" />
         <input id="cpickerBottomRGB" type="text" class="btn btn-outline-default btn-rounded waves-effect" />
        </div>
      </div>
      <div class="formate-button">
        <h2 class="sub-heading">COLOR FORMATE:</h2>
        <a href="javascript:void(0);">
        <span id="hex" class="btn btn-outline-primary btn-rounded waves-effect">Hex</span>
        </a>
        <a href="javascript:void(0);">
          <span id="rgb" class="btn btn-outline-default btn-rounded waves-effect">Rgb</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="screen">
      <div class="preview">
    
      </div>
      <pre id="codetocopy" class="codebox">

      </pre>
   </div>
  </div>
</div>