/* YOUR CUSTOM STYLES */
.main-container{
	float: left;
	width: 100%;
	background-color: #e5e5e5;

}
.container{
	padding:0 25px;
}
.header{
	padding:30px 0;

}
.screen{

}
h1.heading{
	font-weight: 500;
	color: #fff;
	font-size: 32px;
}
h2.sub-heading{
	color: #444;
	font-size: 16px;
	font-weight: 500;
}
.style-button{
	padding-top:1%;
}
.direction-button{
	padding-top: 4%;
}
.btn{
	border-radius: 30px;
	padding: 1.8% 4%;
	-webkit-border-radius: 30px;
}
.color-button{
	padding-top: 4%;
}
.formate-button{
	padding-top: 4%;
}
.screen{
		padding-top:1%;
}
.preview {
  height: 300px;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #74e3ec;
/*  background: -webkit-linear-gradient(top,#74e3ec,#c7ffe2);
*/  /*background: -o-linear-gradient(top,#74e3ec,#c7ffe2);
  background: -moz-linear-gradient(top,#74e3ec,#c7ffe2);*/
/*  background: linear-gradient(to bottom,#74e3ec,#c7ffe2);
*/  transition: all .2s ease-in-out;
}
.codebox {
	font-family: 'Fira Mono',monospace;
  font-weight: 400;
  font-size: 13px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #fff;
  background-color: #666;
  display: block;
  margin: 30px 0;
  padding: 20px;
  border: 2px solid skyblue;
  border-radius: 10px;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-user-select: text!important;
  -moz-user-select: text!important;
  -ms-user-select: text!important;
  user-select: text!important;
}
.input-group-addon:not(:last-child){
	  border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; 
}
.input-group-addon:not(:last-child) {
    border-right:2px solid #fb5c5c;
}
.input-group-addon{
	display: n
}
.waves-button-input {
  margin: 0;
  padding: 0; 
}
input[type=text]{
	height:1.5rem;
	border-bottom:1px solid transparent;
}

/*.hexGroup span, 
.rgbGroup span{
	min-width: 12%;
}*/

input[type=text]{
	/*width: 55%;*/
}

/*.hexGroup i, 
.rgbGroup i{
	width: 55%;
}*/